[user]
	name = torabit
	email = pujigami@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	quotepath = false
	safecrlf = true
	autocrlf = false
