[user]
	name = torabit
	email = torabit.humble@gmail.com
[core]
	pager = delta
[delta]
	light = true
	line-numbers = true
	side-by-side = true
[diff]
	tool = hunk
[difftool]
	prompt = false
[difftool "hunk"]
	cmd = hunk difftool \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[ghq]
	root = ~/ghq
