[user]
	name = torabit
	email = pujigami@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	pager = delta
	quotepath = false
	safecrlf = true
	autocrlf = false
[delta]
	light = true
	line-numbers = true
	side-by-side = true
[diff]
	tool = hunk
[difftool]
	prompt = false
[difftool "hunk"]
	cmd = hunk difftool \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[ghq]
	root = ~/ghq
