lazygit/.config/lazygit/state.yml
hunk/.config/hunk/state.json
herdr/.config/herdr/*
!herdr/.config/herdr/config.toml
!herdr/.config/herdr/config.toml.in
neovim/.config/nvim/plugin/packer_compiled.lua
**/*.local
